/* Sticky footer with Flexbox */
body.pushable > .pusher.flex > .full.height {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    & > main,
    & > .main.grid {
        flex: 1 1 auto;
    }
    & > footer,
    & > .footer.segment {
        flex: 0 0 auto;
    }
}

.ui {
    &.text {
        &.aligned {
            &.center {
                text-align: center
            }
            &.left {
                text-align: left
            }
            &.right {
                text-align: right
            }
            &.justified {
                text-align: justify;
            }
        }
    }

    &.vertical.stripe {
        padding: 3em 0;
        border-bottom: 1px solid rgba(34, 36, 38, .15);
        &.very.padded {
            padding: 8em 0;
        }
    }

    &.center.aligned {
        margin: auto
    }

    &.cards > .card,
    &.card {
        & > .content.very.padded {
            /* Allow very padded cards */
            padding: 2em !important;
        }
    }

    &.display {
        &.none {
            display: none !important;
        }
        &.block {
            display: block !important;
        }
        &.inline.block {
            display: inline-block !important;
        }
        &.flex {
            display: flex !important;
        }
    }

    &.marginless {
        margin: 0 !important;
    }

    &.paddingless {
        margin: 0 !important;
    }
}

[class*="full height"] {
    min-height: 100%;
}

[class*="left floated"] {
    float: left;
}

[class*="right floated"] {
    float: right;
}